{% extends 'app_base.html' %}
{% block content %}

    <div class="container">
        <div class="index_body full">
            <h1 class="project_title text-center">TBD</h1>
            
            {% for shelter in shelters %}
                <a href="{% url 'shelter' shelter.id %}">
                    <div class="shelter" >
                        <p> {{ shelter.shelter_name }} </p>
                        {% if shelter.service_rooms.has_room_service %}
                            <p>{{ shelter.service_rooms.filled_rooms }} / {{ shelter.service_rooms.max_room }} </p>
                        {% endif %}
                        {% if shelter.service_foods.has_food_service %}
                            <p> {{ shelter.service_foods.foodLevel }} </p>
                        {% endif %}
                        {% if shelter.service_housing.has_housing_service %}
                            <p>Has Housing</p>
                        {% endif %}
                    </div>
                </a>
            
            {% endfor %}
            
        </div>
        
     </div>

    </div>
    

{% endblock %}