{% extends 'app_base.html' %}

{% block title %}Client Intake Form{% endblock %}

{% block content %}
<!-- 
View Changes Here:
https://ghack-ethanx94.c9users.io/intakeform/ 

Fields Here:
http://dpss.co.riverside.ca.us/files/pdf/homeless/hmis/intake-forms/hif-es.pdf

http://getbootstrap.com/css/#forms
-->

<div class="container">
    <h1 class="well">Client Intake Form</h1>
	<div class="col-lg-12 well">
	<div class="row">
		<form>
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-4 form-group">
						<label>First Name</label>
						<div class="input-group">
					      <input type="text" class="form-control" id="firstName" placeholder="First Name">
					       <div class="input-group-btn">
					        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Other <span class="caret"></span></button>
					        <ul class="dropdown-menu dropdown-menu-right">
					          <li><a href="#">Don't Know</a></li>
					          <li><a href="#">N/A</a></li>
					          <li><a href="#">Refused</a></li>
					        </ul>
					      </div><!-- /btn-group -->
				       </div><!-- /input-group -->
				    </div>
				    <div class="col-sm-4 form-group">
						<label>Middle Name</label>
						<div class="input-group">
					      <input type="text" class="form-control" id="middleName" placeholder="Middle Name">
					       <div class="input-group-btn">
					        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Other <span class="caret"></span></button>
					        <ul class="dropdown-menu dropdown-menu-right">
					          <li><a href="#">Don't Know</a></li>
					          <li><a href="#">N/A</a></li>
					          <li><a href="#">Refused</a></li>
					        </ul>
					      </div><!-- /btn-group -->
				       </div><!-- /input-group -->
				    </div>
					<div class="col-sm-4 form-group">
						<label>Last Name</label>
						<div class="input-group">
					      <input type="text" class="form-control" id="lastName" placeholder="Last Name">
					       <div class="input-group-btn">
					        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Other <span class="caret"></span></button>
					        <ul class="dropdown-menu dropdown-menu-right">
					          <li><a href="#">Don't Know</a></li>
					          <li><a href="#">N/A</a></li>
					          <li><a href="#">Refused</a></li>
					        </ul>
					      </div><!-- /btn-group -->
				       </div><!-- /input-group -->
				    </div>
				</div>		
				
				<div class="row">
					<div class="col-sm-6 form-group">
						<label>Gender</label>
							<div class="dropdown">
							  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							    Gender
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							    <li><a href="#">Female</a></li>
							    <li><a href="#">Male</a></li>
							    <li><a href="#">Transgender Male to Female</a></li>
							    <li><a href="#">Transgender Female to Male</a></li>
							    <li><a href="#">Other</a></li>
							    <li><a href="#">Don't Know</a></li>
							    <li><a href="#">Refused</a></li>
							  </ul>
							</div>
					</div>		
					<div class="col-sm-6 form-group">
						<label>Company</label>
						<input type="text" placeholder="Enter Company Name Here.." class="form-control">
					</div>	
				</div>		
				
			<div class="form-group">
				<label>Phone Number</label>
				<input type="text" placeholder="Enter Phone Number Here.." class="form-control">
			</div>		
			<div class="form-group">
				<label>Email Address</label>
				<input type="text" placeholder="Enter Email Address Here.." class="form-control">
			</div>	
			<div class="form-group">
				<label>Website</label>
				<input type="text" placeholder="Enter Website Name Here.." class="form-control">
			</div>
			<button type="button" class="btn btn-lg btn-info">Submit</button>					
			</div>
		</form> 
	</div>
	</div>
</div>

    
    <!-- page 1 >
<!--<form action method="get">-->
<div class="container">
<h1 class="well">Client Intake Form –Emergency Shelters</h1>
<h2 class="well">PLEASE FILL OUT A SEPARATE FORM FOR EACH FAMILY MEMBER AND CLIP TOGETHER</h2>
<form class="form-horizontal" action="" method="get">
    <table>
        <tr>
            <td rowspan="5">
                <h2>Enrollment Entry Date</h2>
            	<p><input type="date" name="Edate"></p>
        	</td>
        	<th>
        	    Client Bed Check-In
        	</th>
        </tr>
        <tr>
            <td>Client Bed-entry Date:</td>
            <td><input type="text" name="CBD"></td>
        </tr>  
        <tr>
            <td>Facility Client will be housed in:</td>
            <td><input type="text" name="FCWBH"></td>
        </tr>
        <tr>
            <td>Room Client will be housed in:</td>
            <td><input type="text" name="RCWBH"></td>
        </tr>
        <tr>
            <td>Bed Client will be assigned:</td>
            <td><input type="text" name="BCWBA"></td>
        </tr>  
    </table>
    
    <table border="1">
    <caption>Name</caption>
        <tr>
            <th colspan="2">
            Current Name(first, middle, last name, suffix)    
            </th>
            <th>Don't Know</th>
            <th>N/A</th>
            <th>Refused</th>
        </tr>
        <tr><!--If Someone could find a way to make it where, if you select the text editor then you cant select the radio buttons and vice versa -->
            <th>
                First Name:
            </th>
            <td><input type="text" name="FirstName"/></td>
            <td><input type="radio" name="FN"/></td>
            <td><input type="radio" name="FN"/></td>
            <td><input type="radio" name="FN"/></td>
        </tr>
        <tr>
            <th>
                Last Name:
            </th>
            <td><input type="text" name="LastName"/></td>
             <td><input type="radio" name="LN"/></td>
            <td><input type="radio" name="LN"/></td>
            <td><input type="radio" name="LN"/></td>
        </tr>
        <tr>
            <th>
                Middle Name:
            </th>
            <td><input type="text" name="MiddleName"/></td>
             <td><input type="radio" name="MN"/></td>
            <td><input type="radio" name="MN"/></td>
            <td><input type="radio" name="MN"/></td>
        </tr>
        <tr>
            <th>
                Suffix:
            </th>
            <td><input type="text" name="Suffix"/></td>
             <td><input type="radio" name="SF"/></td>
            <td><input type="radio" name="SF"/></td>
            <td><input type="radio" name="SF"/></td>
        </tr>
    </table>
    
    <table border="1">
    <caption>Social Security Number</caption>
        <tr>
            <th colspan="2">Social Security Number</th>
            <td colspan="2"><input type="number" name="SSN"/></td>
        </tr>
        <tr>
            <td>Full SSN Reported</td>
            <td><input type="radio" name="SSN" value="1"/></td>
            <td>Partial SSN Reported</td>
            <td><input type="radio" name="SSN" value="2"/></td>
        </tr>
        <tr>
            <td>Don’t know</td>
            <td><input type="radio" name="SSN" value="3"/></td>
            <td>Refused</td>
            <td><input type="radio" name="SSN" value="4"/></td>
        </tr>
    </table>
    <br/>
    <table>
        <tr>
            <th>Date of Birth: </th>
        </tr>
        <tr>
            <td>
                <div class="container">
                    <div class="row">
                        <div class='col-sm-6'>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker1'>
                                    <input type='text' class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!--<script type="text/javascript">
                            $(function () {
                                $('#datetimepicker1').datetimepicker();
                            });
                        </script>-->
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>(If complete birth date is not know: What is your age?)</td>
        </tr>
        <tr>
            <td><input type="number" name="age"/></td>
        </tr>
    </table>
    
    <table border="1">
    <caption>Gender</caption>
        <tr>
            <td>Female</td>
            <td><input type="radio" name="Gender" value="1"></td>
        </tr>
        <tr>
            <td>Male</td>
            <td><input type="radio" name="Gender" value="2"></td>
        </tr>  
        <tr>
            <td>Transgender Male to Female</td>
            <td><input type="radio" name="Gender" value="3"></td>
        </tr>  
        <tr>
            <td>Transgender Female to Male</td>
            <td><input type="radio" name="Gender" value="4"></td>
        </tr>  
        <tr>
            <td>Other</td>
            <td><input type="radio" name="Gender" value="5"></td>
        </tr>  
        <tr>
            <td>Don’t Know</td>
            <td><input type="radio" name="Gender" value="6"></td>
        </tr>  
        <tr>
            <td>Refused</td>
            <td><input type="radio" name="Gender" value="7"></td>
        </tr>      
    </table>
    
    <table border="1">
    <caption>Ethnicity</caption>
        <tr>
            <td>Non-Hispanic/Non-Latino</td>
            <td><input type="radio" name="Ethnicity" value="1"></td>
        </tr>
        <tr>
            <td>Hispanic/Latino</td>
            <td><input type="radio" name="Ethnicity" value="2"></td>
        </tr>
        <tr>
            <td>Don’t know</td>
            <td><input type="radio" name="Ethnicity" value="3"></td>
        </tr>
        <tr>
            <td>Refused</td>
            <td><input type="radio" name="Ethnicity" value="4"></td>
        </tr>
    </table>    
    
    <table border="1">
    <caption>Race</caption>
        <tr>
            <td>American Indian or Alaskan Native </td>
            <td><input type="radio" name="Race" value="1"></td>
        </tr>
        <tr>
            <td>Asian</td>
            <td><input type="radio" name="Race" value="2"></td>
        </tr>
        <tr>
            <td>Black or African American</td>
            <td><input type="radio" name="Race" value="3"></td>
        </tr>
        <tr>
            <td>Native Hawaiian or Other Pacific Islander </td>
            <td><input type="radio" name="Race" value="4"></td>
        </tr>
        <tr>
            <td>White</td>
            <td><input type="radio" name="Race" value="5"></td>
        </tr>
        <tr>
            <td>Don’t know</td>
            <td><input type="radio" name="Race" value="6"></td>
        </tr>
        <tr>
            <td>Refused</td>
            <td><input type="radio" name="Race" value="7"></td>
        </tr>
    </table>    
    
    <!--page 2-->
    <table border="1">
	  <caption>Disabling Condition</caption>
		<tr>
		  <td>No</td>
		  <td><input type="radio" name="DC" value="1" checked></td>
		</tr>
	  	<tr>
		  <td>Yes</td>
		  <td><input type="radio" name="DC" value="2"></td>
		</tr>
	  	<tr>
		  <td>Don't know</td>
		  <td><input type="radio" name="DC" value="3"></td>
		</tr>
	  	<tr>
		  <td>Refused</td>
		  <td><input type="radio" name="DC" value="4"></td>
		</tr>
	</table>
	
	<table border="1">
	  <caption>Veteran Status</caption>
		<tr>
		  <td>No</td>
		  <td><input type="radio" name="VS" value="1" checked></td>
		</tr>
	  	<tr>
		  <td>Yes</td>
		  <td><input type="radio" name="VS" value="2"></td>
		</tr>
	  	<tr>
		  <td>Don't know</td>
		  <td><input type="radio" name="VS" value="3"></td>
		</tr>
	  	<tr>
		  <td>Refused</td>
		  <td><input type="radio" name="VS" value="4"></td>
		</tr>
	</table>
	
    <table border="1">
	  <caption>Residence Prior to Program Entry</caption>
		<tr>
		  <td>Emergency shelter (including a youtd shelter, hotel, motel, campground paid witd emergency shelter voucher</td>
		  <td><input type="radio" name="RPPE" value="1" checked></td>
		</tr>
	  	<tr>
		  <td>Transitional housing for homeless persons (including homeless youtd)</td>
		  <td><input type="radio" name="RPPE" value="2"></td>
		</tr>
	  	<tr>
		  <td>Permanent housing for formerly homeless persons (such as SHP, S+C, SRO Mod Rehab)</td>
		  <td><input type="radio" name="RPPE" value="3"></td>
		</tr>
	  	<tr>
		  <td>Psychiatric hospital or otder psychiatric facility</td>
		  <td><input type="radio" name="RPPE" value="4"></td>
		</tr>
		<tr>
		  <td>Substance abuse treatment facility or detox center</td>
		  <td><input type="radio" name="RPPE" value="5"></td>
		</tr>
	  	<tr>
		  <td>Hospital (non psychiatric)</td>
		  <td><input type="radio" name="RPPE" value="6"></td>
		</tr>
	  	<tr>
		  <td>Jail, prison, juvenile detention facility</td>
		  <td><input type="radio" name="RPPE" value="7"></td>
		</tr>
	  	<tr>
		  <td>Rental by client, no housing subsidy</td>
		  <td><input type="radio" name="RPPE" value="8"></td>
		</tr>
		<tr>
		  <td>Owned by client, no housing subsidy</td>
		  <td><input type="radio" name="RPPE" value="9"></td>
		</tr>
	  	<tr>
		  <td>Staying or living in a family member’s room, apartment, or house</td>
		  <td><input type="radio" name="RPPE" value="10"></td>
		</tr>
	  	<tr>
		  <td>Staying or living in a friend’s room, apartment, or house</td>
		  <td><input type="radio" name="RPPE" value="11"></td>
		</tr>
	  	<tr>
		  <td>Hotel/motel paid for witdout emergency shelter voucher</td>
		  <td><input type="radio" name="RPPE" value="12"></td>
		</tr>
		<tr>
		  <td>Foster care home/foster care group home</td>
		  <td><input type="radio" name="RPPE" value="13"></td>
		</tr>
	  	<tr>
		  <td>Places not meant for habitation e.g., (vehicles, abandoned building, bus/train/subway station/airport, or anywhere else outside</td>
		  <td><input type="radio" name="RPPE" value="14"></td>
		</tr>
	  	<tr>
		  <td>Otder (Describe) </td>
		  <td><input type="radio" name="RPPE" value="15"></td>
		</tr>
	  	<tr>
		  <td>Safe Haven</td>
		  <td><input type="radio" name="RPPE" value="16"></td>
		</tr>
		<tr>
		  <td>Rental by client, witd VASH housing subsidy</td>
		  <td><input type="radio" name="RPPE" value="17"></td>
		</tr>
	  	<tr>
		  <td>Rental by client, witd otder (non-VASH) housing subsidy</td>
		  <td><input type="radio" name="RPPE" value="18"></td>
		</tr>
	  	<tr>
		  <td>Owned by client, witd housing subsidy</td>
		  <td><input type="radio" name="RPPE" value="19"></td>
		</tr>
	  	<tr>
		  <td>Don’t know</td>
		  <td><input type="radio" name="RPPE" value="20"></td>
		</tr>
		<tr>
		  <td>Refused</td>
		  <td><input type="radio" name="RPPE" value="21"></td>
		</tr>
	</table>
	
	<table border="1">
	<caption>Lengtd of Stay in Previous Place</caption>
	    <tr>
		  <td>One week or less</td>
		  <td><input type="radio" name="LSPP" value="1" checked></td>
		</tr>
	    <tr>
		  <td>More tdan one week, but less tdan one montd</td>
		  <td><input type="radio" name="LSPP" value="2"></td>
		</tr>
	    <tr>
		  <td>one to tdree montds</td>
		  <td><input type="radio" name="LSPP" value="3"></td>
		</tr>
	    <tr>
		  <td>More tdan one week but less tden one montd</td>
		  <td><input type="radio" name="LSPP" value="4"></td>
		</tr>
	    <tr>
		  <td>One to tdree montds</td>
		  <td><input type="radio" name="LSPP" value="5"></td>
		</tr>
	    <tr>
		  <td>More tden tdree montds, but less tden one year</td>
		  <td><input type="radio" name="LSPP" value="6"></td>
		</tr>
	    <tr>
		  <td>One year or longer</td>
		  <td><input type="radio" name="LSPP" value="7"></td>
		</tr>
	    <tr>
		  <td>Don’t know</td>
		  <td><input type="radio" name="LSPP" value="8"></td>
		</tr>
	    <tr>
		  <td>Refused</td>
		  <td><input type="radio" name="LSPP" value="9"></td>
		</tr>
	</table>
	
	<table border="1">
	<caption>Housing Status</caption>   
	    <tr>
		  <td>Literally homeless</td>
		  <td><input type="radio" name="HS" value="1" checked></td>
		</tr>
	    <tr>
		  <td>Housed and at imminent risk of losing housing</td>
		  <td><input type="radio" name="HS" value="2"></td>
		</tr>
	    <tr>
		  <td>Housed and at-risk of losing housing</td>
		  <td><input type="radio" name="HS" value="3"></td>
		</tr>
	    <tr>
		  <td>Stably housed</td>
		  <td><input type="radio" name="HS" value="4"></td>
		</tr>
	    <tr>
		  <td>Don’t know</td>
		  <td><input type="radio" name="HS" value="5"></td>
		</tr>
	    <tr>
		  <td>Refused</td>
		  <td><input type="radio" name="HS" value="6"></td>
		</tr>
	</table>
	<!--page 3-->
	<table border="1">
	<caption>Zip Code of Last Permanent Address (where tde client last lived for 90 days or more)</caption>     
	    <tr>
		  <td>Zip code</td>
		  <td><input type="text" name="ZC"></td>
		</tr>
	    <tr>
		  <td>Full or partial zip code reported</td>
		  <td><input type="radio" name="ZC" value="1"></td>
		</tr>
	    <tr>
		  <td>Don’t know</td>
		  <td><input type="radio" name="ZC" value="2"></td>
		</tr>
	    <tr>
		  <td>Refused</td>
		  <td><input type="radio" name="ZC" value="3"></td>
		</tr>
	</table>
	
	<table border="1">
	<caption>If zip code unknown, what is tde city and state you last lived for 90 days or more?</caption>     
	    <tr>
		  <td>City:</td>
		  <td><input type="text" name="ZC" size="10"></td>
		</tr>
	    <tr>
		  <td>State:</td>
		  <td><input type="text" name="ZC" size="2"></td>
		</tr>
	</table>
	
	<table border="1">
	    <caption>Income and Source –Program-Specific Data Element</caption>
	    <tr>
	        <th rowspan="4">Financial Resources</th>
	        <th rowspan="4">Income received from any source in the past 30 days?</th>
	        <td colspan="2">No</td>
	        <td><input type="radio" name="FR" value="1"></td>
	    </tr> 
	    <tr>
	        <td colspan="2">Yes</td>
	        <td><input type="radio" name="FR" value="2"></td>
	    </tr>
	    <tr>
	        <td colspan="2">Don't know</td>
	        <td><input type="radio" name="FR" value="3"></td>
	    </tr>
	    <tr>
	        <td colspan="2">Refused</td>
	        <td><input type="radio" name="FR" value="4"></td>
	    </tr>
	    <tr>
	        <th>Source and Amount of Income</th>
	        <th>Source of Income</th>
	        <th colspan="2">Receiving Income Source</th>
	        <th>Amount From Source</th>
	    </tr>
	    <tr>
	        <td rowspan="30"></td>
	        <td rowspan="2">Earned Income</td>
	        <td>No</td>
	        <td><input type="radio" name="EI" value="1"></td>
	        <td rowspan="2"><input type="text" name="EI"></td>
	    </tr>
	    <tr>
	        <td>Yes</td>
	        <td><input type="radio" name="EI" value="2"></td>
	    </tr>
	    <tr>
	        <td rowspan="2">Unemployment Insurance</td>
	        <td>No</td>
	        <td><input type="radio" name="UI" value="1"></td>
	        <td rowspan="2"><input type="text" name="UI"></td>
	    </tr>
	    <tr>
	        <td>Yes</td>
	        <td><input type="radio" name="UI" value="2"></td>
	    </tr>
	    <tr>
	        <td rowspan="2">Supplement Security Income (SSI)</td>
	        <td>No</td>
	        <td><input type="radio" name="SSI" value="1"></td>
	        <td rowspan="2"><input type="text" name="SSI"></td>
	    </tr>
	    <tr>
	        <td>Yes</td>
	        <td><input type="radio" name="SSI" value="2"></td>
	    </tr>
	    <tr>
	        <td rowspan="2">Social Security Disability Income (SSDI)</td>
	        <td>No</td>
	        <td><input type="radio" name="SSDI" value="1"></td>
	        <td rowspan="2"><input type="text" name="SSDI"></td>
	    </tr>
	    <tr>
	        <td>Yes</td>
	        <td><input type="radio" name="SSDI" value="2"></td>
	    </tr>
	    <tr>
	        <td rowspan="2">Veteran’s Disability Payment</td>
	        <td>No</td>
	        <td><input type="radio" name="VDP" value="1"></td>
	        <td rowspan="2"><input type="text" name="VDP"></td>
	    </tr>
	    <tr>
	        <td>Yes</td>
	        <td><input type="radio" name="VDP" value="2"></td>
	    </tr>
	    <tr>
	        <td rowspan="2">Private Disability Insurance</td>
	        <td>No</td>
	        <td><input type="radio" name="PDI" value="1"></td>
	        <td rowspan="2"><input type="text" name="PDI"></td>
	    </tr>
	    <tr>
	        <td>Yes</td>
	        <td><input type="radio" name="PDI" value="2"></td>
	    </tr>
	    <tr>
	        <td rowspan="2">Workers Compensation</td>
	        <td>No</td>
	        <td><input type="radio" name="WC" value="1"></td>
	        <td rowspan="2"><input type="text" name="WC"></td>
	    </tr>
	    <tr>
	        <td>Yes</td>
	        <td><input type="radio" name="WC" value="2"></td>
	    </tr>
	    <tr>
	        <td rowspan="2">Temporary Assistance for Needy Families (TANF)</td>
	        <td>No</td>
	        <td><input type="radio" name="TANF" value="1"></td>
	        <td rowspan="2"><input type="text" name="TANF"></td>
	    </tr>
	    <tr>
	        <td>Yes</td>
	        <td><input type="radio" name="TANF" value="2"></td>
	    </tr>
	    <tr>
	        <td rowspan="2">General Assistance (GA)</td>
	        <td>No</td>
	        <td><input type="radio" name="GA" value="1"></td>
	        <td rowspan="2"><input type="text" name="GA"></td>
	    </tr>
	    <tr>
	        <td>Yes</td>
	        <td><input type="radio" name="GA" value="2"></td>
	    </tr>
	    <tr>
	        <td rowspan="2">Retirement income from Social Security</td>
	        <td>No</td>
	        <td><input type="radio" name="RISS" value="1"></td>
	        <td rowspan="2"><input type="text" name="RISS"></td>
	    </tr>
	    <tr>
	        <td>Yes</td>
	        <td><input type="radio" name="RISS" value="2"></td>
	    </tr>
	    <tr>
	        <td rowspan="2">Veteran’s Pension</td>
	        <td>No</td>
	        <td><input type="radio" name="VP" value="1"></td>
	        <td rowspan="2"><input type="text" name="VP"></td>
	    </tr>
	    <tr>
	        <td>Yes</td>
	        <td><input type="radio" name="VP" value="2"></td>
	    </tr>
	    <tr>
	        <td rowspan="2">Pension from former job</td>
	        <td>No</td>
	        <td><input type="radio" name="PFFJ" value="1"></td>
	        <td rowspan="2"><input type="text" name="PFFJ"></td>
	    </tr>
	    <tr>
	        <td>Yes</td>
	        <td><input type="radio" name="PFFJ" value="2"></td>
	    </tr>
	    <tr>
	        <td rowspan="2">Child Support</td>
	        <td>No</td>
	        <td><input type="radio" name="CS" value="1"></td>
	        <td rowspan="2"><input type="text" name="CS"></td>
	    </tr>
	    <tr>
	        <td>Yes</td>
	        <td><input type="radio" name="CS" value="2"></td>
	    </tr>
	    <tr>
	        <td rowspan="2">Alimony or other spousal support</td>
	        <td>No</td>
	        <td><input type="radio" name="AOSS" value="1"></td>
	        <td rowspan="2"><input type="text" name="AOSS"></td>
	    </tr>
	    <tr>
	        <td>Yes</td>
	        <td><input type="radio" name="AOSS" value="2"></td>
	    </tr>
	    <tr>
	        <td rowspan="2">Other source</td>
	        <td>No</td>
	        <td><input type="radio" name="OS" value="1"></td>
	        <td rowspan="2"><input type="text" name="OS"></td>
	    </tr>
	    <tr>
	        <td>Yes</td>
	        <td><input type="radio" name="OS" value="2"></td>
	    </tr>
	    <tr>
	        <th>Total Monthly Income</th>
	        <td>Monthly income from all sources</td>
	        <td colspan="2"></td>
	        <td><input type="text" name="MI"></td>
	    </tr>
	</table>
	
	<!--page 4-->	
	<table border="1">
	    <caption>Non-Cash Benefit –Program-Specific Data Element</caption>
        <tr>
	        <th rowspan="4">Non-Cash Benefit</th>
	        <th rowspan="4">Non-Cash benefit received from any source in past 30 days?</th>
	        <td>No</td>
	        <td><input type="radio" name="NCB" value="1"></td>
	    </tr> 
	    <tr>
	        <td>Yes</td>
	        <td><input type="radio" name="NCB" value="2"></td>
	    </tr>
	    <tr>
	        <td>Don't know</td>
	        <td><input type="radio" name="NCB" value="3"></td>
	    </tr>
	    <tr>
	        <td>Refused</td>
	        <td><input type="radio" name="NCB" value="4"></td>
	    </tr>
	    <tr>
	        <th></th>
	        <th>Source of Non-Cash Benefit</th>
	        <th colspan="2">Receiving Benefit</th>
	    </tr>
	    <tr>
	        <td rowspan="22"></td>
	        <td rowspan="2">Supplemental Nutrition Assistance Program (SNAP)(Previously known as Food Stamps)</td>
	        <td>No</td>
	        <td><input type="radio" name="SNAP" value="1"></td>
	    </tr>
	    <tr>
	        <td>Yes</td>
	        <td><input type="radio" name="SNAP" value="2"></td>
	    </tr>
	    <tr>
	        <td rowspan="2">MEDICAID health insurance program (or use local name)</td>
	        <td>No</td>
	        <td><input type="radio" name="MEDICAID" value="1"></td>
	    </tr>
	    <tr>
	        <td>Yes</td>
	        <td><input type="radio" name="MEDICAID" value="2"></td>
	    </tr>
	    <tr>
	        <td rowspan="2">MEDICARE health insurance program (or use local name)</td>
	        <td>No</td>
	        <td><input type="radio" name="MEDICARE" value="1"></td>
	    </tr>
	    <tr>
	        <td>Yes</td>
	        <td><input type="radio" name="MEDICARE" value="2"></td>
	    </tr>
	    <tr>
	        <td rowspan="2">State Children’s Health Insurance Program (or use local name)</td>
	        <td>No</td>
	        <td><input type="radio" name="SCHIP" value="1"></td>
	    </tr>
	    <tr>
	        <td>Yes</td>
	        <td><input type="radio" name="SCHIP" value="2"></td>
	    </tr>
	    <tr>
	        <td rowspan="2">Special Supplemental Nutrition Program for Women,Infants, and Children (WIC)</td>
	        <td>No</td>
	        <td><input type="radio" name="WIC" value="1"></td>
	    </tr>
	    <tr>
	        <td>Yes</td>
	        <td><input type="radio" name="WIC" value="2"></td>
	    </tr>
	    <tr>
	        <td rowspan="2">Veteran’s Administration (VA) Medical Services</td>
	        <td>No</td>
	        <td><input type="radio" name="VA" value="1"></td>
	    </tr>
	    <tr>
	        <td>Yes</td>
	        <td><input type="radio" name="VA" value="2"></td>
	    </tr>
	    <tr>
	        <td rowspan="2">TANF Child Care services (or use local name)</td>
	        <td>No</td>
	        <td><input type="radio" name="TCCS" value="1"></td>
	    </tr>
	    <tr>
	        <td>Yes</td>
	        <td><input type="radio" name="TCCS" value="2"></td>
	    </tr>
	    <tr>
	        <td rowspan="2">TANF transportation services (or use local name)</td>
	        <td>No</td>
	        <td><input type="radio" name="TTS" value="1"></td>
	    </tr>
	    <tr>
	        <td>Yes</td>
	        <td><input type="radio" name="TTS" value="2"></td>
	    </tr>
	    <tr>
	        <td rowspan="2">Other TANF-funded services (or use local name)</td>
	        <td>No</td>
	        <td><input type="radio" name="OTS" value="1"></td>
	    </tr>
	    <tr>
	        <td>Yes</td>
	        <td><input type="radio" name="OTS" value="2"></td>
	    </tr>
	    <tr>
	        <td rowspan="2">Section 8, public housing, or other rental assistance</td>
	        <td>No</td>
	        <td><input type="radio" name="SPHORA" value="1"></td>
	    </tr>
	    <tr>
	        <td>Yes</td>
	        <td><input type="radio" name="SPHORA" value="2"></td>
	    </tr>
	    <tr>
	        <td rowspan="2">Other source</td>
	        <td>No</td>
	        <td><input type="radio" name="OS2" value="1"></td>
	    </tr>
	    <tr>
	        <td>Yes</td>
	        <td><input type="radio" name="OS2" value="2"></td>
	    </tr>
	</table>
	
	<table border="1">
	<caption>Physical Disability –Program-Specific Data Element</caption>
	    <tr>
	        <th rowspan="4">Physical Disability</th>
	        <td>No</td>
	        <td><input type="radio" name="PD" value="1"></td>
	    </tr>
	    <tr>
	        <td>Yes</td>
	        <td><input type="radio" name="PD" value="2"></td>
	    </tr>  
	    <tr>
	        <td>Don’t Know</td>
	        <td><input type="radio" name="PD" value="3"></td>
	    </tr>  
	    <tr>
	        <td>Refused</td>
	        <td><input type="radio" name="PD" value="4"></td>
	    </tr>
	    <tr>
	        <th rowspan="4">(If yes) Currently receiving services or treatment for this condition or received services/treatment prior to exiting the program?</th>
	        <td>No</td>
	        <td><input type="radio" name="Q" value="1"></td>
	    </tr>
	    <tr>
	        <td>Yes</td>
	        <td><input type="radio" name="Q" value="2"></td>
	    </tr>  
	    <tr>
	        <td>Don’t Know</td>
	        <td><input type="radio" name="Q" value="3"></td>
	    </tr>  
	    <tr>
	        <td>Refused</td>
	        <td><input type="radio" name="Q" value="4"></td>
	    </tr>
	</table>  
	
	<table border="1">
	<caption>Developmental Disability –Program-Specific Data Element</caption>
	    <tr>
	        <th rowspan="4">Developmental disability</th>
	        <td>No</td>
	        <td><input type="radio" name="DD" value="1"></td>
	    </tr>
	    <tr>
	        <td>Yes</td>
	        <td><input type="radio" name="DD" value="2"></td>
	    </tr>  
	    <tr>
	        <td>Don’t Know</td>
	        <td><input type="radio" name="DD" value="3"></td>
	    </tr>  
	    <tr>
	        <td>Refused</td>
	        <td><input type="radio" name="DD" value="4"></td>
	    </tr>
	    <tr>
	        <th rowspan="4">(If yes) Currently receiving services or treatment for this condition or received services/treatment prior to exiting the program?</th>
	        <td>No</td>
	        <td><input type="radio" name="Q2" value="1"></td>
	    </tr>
	    <tr>
	        <td>Yes</td>
	        <td><input type="radio" name="Q2" value="2"></td>
	    </tr>  
	    <tr>
	        <td>Don’t Know</td>
	        <td><input type="radio" name="Q2" value="3"></td>
	    </tr>  
	    <tr>
	        <td>Refused</td>
	        <td><input type="radio" name="Q2" value="4"></td>
	    </tr>
	</table>
	
	<!--page 5-->
	<table border="1">
	<caption>Chronic Health Condition –Program-Specific Data Element</caption>
	    <tr>
	        <th rowspan="4">Chronic Health Condition</th>
	        <td>No</td>
	        <td><input type="radio" name="CHC" value="1"></td>
	    </tr>
	    <tr>
	        <td>Yes</td>
	        <td><input type="radio" name="CHC" value="2"></td>
	    </tr>  
	    <tr>
	        <td>Don’t Know</td>
	        <td><input type="radio" name="CHC" value="3"></td>
	    </tr>  
	    <tr>
	        <td>Refused</td>
	        <td><input type="radio" name="CHC" value="4"></td>
	    </tr>
	    <tr>
	        <th rowspan="4">(If yes) Currently receiving services or treatment for this condition or received services/treatment prior to exiting the program?</th>
	        <td>No</td>
	        <td><input type="radio" name="Q3" value="1"></td>
	    </tr>
	    <tr>
	        <td>Yes</td>
	        <td><input type="radio" name="Q3" value="2"></td>
	    </tr>  
	    <tr>
	        <td>Don’t Know</td>
	        <td><input type="radio" name="Q3" value="3"></td>
	    </tr>  
	    <tr>
	        <td>Refused</td>
	        <td><input type="radio" name="Q3" value="4"></td>
	    </tr>
	</table>
	
	<table border="1">
	<caption>HIV / AIDS–Program-Specific Data Element</caption>
	    <tr>
	        <th rowspan="4">HIV / AIDS</th>
	        <td>No</td>
	        <td><input type="radio" name="HA" value="1"></td>
	    </tr>
	    <tr>
	        <td>Yes</td>
	        <td><input type="radio" name="HA" value="2"></td>
	    </tr>  
	    <tr>
	        <td>Don’t Know</td>
	        <td><input type="radio" name="HA" value="3"></td>
	    </tr>  
	    <tr>
	        <td>Refused</td>
	        <td><input type="radio" name="HA" value="4"></td>
	    </tr>
	    <tr>
	        <th rowspan="4">(If yes) Currently receiving services or treatment for this condition or received services/treatment prior to exiting the program?</th>
	        <td>No</td>
	        <td><input type="radio" name="Q4" value="1"></td>
	    </tr>
	    <tr>
	        <td>Yes</td>
	        <td><input type="radio" name="Q4" value="2"></td>
	    </tr>  
	    <tr>
	        <td>Don’t Know</td>
	        <td><input type="radio" name="Q4" value="3"></td>
	    </tr>  
	    <tr>
	        <td>Refused</td>
	        <td><input type="radio" name="Q4" value="4"></td>
	    </tr>
	</table>
	
	<table border="1">
	<caption>Mental Health –Program-Specific Data Element</caption>
	    <tr>
	        <th rowspan="4">Mental Health Problem</th>
	        <td>No</td>
	        <td><input type="radio" name="MHP" value="1"></td>
	    </tr>
	    <tr>
	        <td>Yes</td>
	        <td><input type="radio" name="MHP" value="2"></td>
	    </tr>  
	    <tr>
	        <td>Don’t Know</td>
	        <td><input type="radio" name="MHP" value="3"></td>
	    </tr>  
	    <tr>
	        <td>Refused</td>
	        <td><input type="radio" name="MHP" value="4"></td>
	    </tr>
	    <tr>
	        <th rowspan="4">(If client has a mental health problem) Expected to be of long-continued and indefinite duration and substantially impairs ability to live independently?</th>
	        <td>No</td>
	        <td><input type="radio" name="Q5" value="1"></td>
	    </tr>
	    <tr>
	        <td>Yes</td>
	        <td><input type="radio" name="Q5" value="2"></td>
	    </tr>  
	    <tr>
	        <td>Don’t Know</td>
	        <td><input type="radio" name="Q5" value="3"></td>
	    </tr>  
	    <tr>
	        <td>Refused</td>
	        <td><input type="radio" name="Q5" value="4"></td>
	    </tr>
	    <tr>
	        <th rowspan="4">(If client has a mental health problem) Currently receiving services or treatment for this condition or received services/treatment prior to exiting the program?</th>
	        <td>No</td>
	        <td><input type="radio" name="Q6" value="1"></td>
	    </tr>
	    <tr>
	        <td>Yes</td>
	        <td><input type="radio" name="Q6" value="2"></td>
	    </tr>  
	    <tr>
	        <td>Don’t Know</td>
	        <td><input type="radio" name="Q6" value="3"></td>
	    </tr>  
	    <tr>
	        <td>Refused</td>
	        <td><input type="radio" name="Q6" value="4"></td>
	    </tr>
	</table>
	
    <table border="1">
	<caption>Substance Abuse –Program-Specific Data Element</caption>
	    <tr>
	        <th rowspan="6">Substance Abuse Problem</th>
	        <td>No</td>
	        <td><input type="radio" name="SAP" value="1"></td>
	    </tr>
	    <tr>
	        <td>Alcohol Abuse</td>
	        <td><input type="radio" name="SAP" value="2"></td>
	    </tr>  
	    <tr>
	        <td>Drug Abuse</td>
	        <td><input type="radio" name="SAP" value="3"></td>
	    </tr>  
	    <tr>
	        <td>Both -Alcohol and Drug</td>
	        <td><input type="radio" name="SAP" value="4"></td>
	    </tr>  
	    <tr>
	        <td>Don’t Know</td>
	        <td><input type="radio" name="SAP" value="5"></td>
	    </tr>  
	    <tr>
	        <td>Refused</td>
	        <td><input type="radio" name="SAP" value="6"></td>
	    </tr>
	    <tr>
	        <th rowspan="4">(If client has a substance abuse problem) Expected to be of long-continued and indefinite duration and substantially impairs ability to live independently?</th>
	        <td>No</td>
	        <td><input type="radio" name="Q7" value="1"></td>
	    </tr>
	    <tr>
	        <td>Yes</td>
	        <td><input type="radio" name="Q7" value="2"></td>
	    </tr>  
	    <tr>
	        <td>Don’t Know</td>
	        <td><input type="radio" name="Q7" value="3"></td>
	    </tr>  
	    <tr>
	        <td>Refused</td>
	        <td><input type="radio" name="Q7" value="4"></td>
	    </tr>
	    <tr>
	        <th rowspan="4">(If client has a substance abuse problem) Currently receiving services or treatment for this condition or received services/treatment prior to exiting the program?</th>
	        <td>No</td>
	        <td><input type="radio" name="Q8" value="1"></td>
	    </tr>
	    <tr>
	        <td>Yes</td>
	        <td><input type="radio" name="Q8" value="2"></td>
	    </tr>  
	    <tr>
	        <td>Don’t Know</td>
	        <td><input type="radio" name="Q8" value="3"></td>
	    </tr>  
	    <tr>
	        <td>Refused</td>
	        <td><input type="radio" name="Q8" value="4"></td>
	    </tr>
	</table>
	
	<!--page 6-->
	<table border="1">
	<caption>Domestic Violence –Program-Specific Data Element</caption>
	    <tr>
	        <th rowspan="4">Domestic Violence Victim/Survivor</th>
	        <td>No</td>
	        <td><input type="radio" name="DVV" value="1"></td>
	    </tr>
	    <tr>
	        <td>Yes</td>
	        <td><input type="radio" name="DVV" value="2"></td>
	    </tr>  
	    <tr>
	        <td>Don’t Know</td>
	        <td><input type="radio" name="DVV" value="3"></td>
	    </tr>  
	    <tr>
	        <td>Refused</td>
	        <td><input type="radio" name="DVV" value="4"></td>
	    </tr>
	    <tr>
	        <th rowspan="4">(If yes) When experience occurred?</th>
	        <td>No</td>
	        <td><input type="radio" name="Q9" value="1"></td>
	    </tr>
	    <tr>
	        <td>Yes</td>
	        <td><input type="radio" name="Q9" value="2"></td>
	    </tr>  
	    <tr>
	        <td>Don’t Know</td>
	        <td><input type="radio" name="Q9" value="3"></td>
	    </tr>  
	    <tr>
	        <td>Refused</td>
	        <td><input type="radio" name="Q9" value="4"></td>
	    </tr>
	</table>
	
	<table border="1">
	<caption>Services Provided</caption>
	    <tr>
	        <td>Outreach</td>
	        <td><input type="checkbox" name="SP" value="O" /></td>
	    </tr>
	    <tr>
	        <td>Case Management</td>
	        <td><input type="checkbox" name="SP" value="CM" /></td>
	    </tr>
	    <tr>
	        <td>Life Skills (Outside of Case Management)</td>
	        <td><input type="checkbox" name="SP" value="LS" /></td>
	    </tr>
	    <tr>
	        <td>Alcohol or drug abuse services</td>
	        <td><input type="checkbox" name="SP" value="ADAS" /></td>
	    </tr>
	    <tr>
	        <td>Mental health services </td>
	        <td><input type="checkbox" name="SP" value="MHS" /></td>
	    </tr>
	    <tr>
	        <td>HIV / AIDS–related services </td>
	        <td><input type="checkbox" name="SP" value="HS" /></td>
	    </tr>
	    <tr>
	        <td>Other health care services </td>
	        <td><input type="checkbox" name="SP" value="OHCS" /></td>
	    </tr>
	    <tr>
	        <td>Education</td>
	        <td><input type="checkbox" name="SP" value="E" /></td>
	    </tr>
	    <tr>
	        <td>Housing placement </td>
	        <td><input type="checkbox" name="SP" value="HP" /></td>
	    </tr>
	    <tr>
	        <td>Employment assistance </td>
	        <td><input type="checkbox" name="SP" value="EA" /></td>
	    </tr>
	    <tr>
	        <td>Child care </td>
	        <td><input type="checkbox" name="SP" value="CC" /></td>
	    </tr>
	    <tr>
	        <td>Transportation</td>
	        <td><input type="checkbox" name="SP" value="T" /></td>
	    </tr>
	    <tr>
	        <td>Legal</td>
	        <td><input type="checkbox" name="SP" value="L" /></td>
	    </tr>
	    <tr>
	        <td>Deceased</td>
	        <td><input type="checkbox" name="SP" value="D" /></td>
	    </tr>
	    <tr>
	        <td>Other (Describe) </td>
	        <td><input type="checkbox" name="SP" value="O" /></td>
	    </tr>
	    <tr>
	        <td>Don’t know</td>
	        <td><input type="checkbox" name="SP" value="DK" /></td>
	    </tr>
	    <tr>
	        <td>Refused</td>
	        <td><input type="checkbox" name="SP" value="R" /></td>
	    </tr>
	</table>
	
	<table border="1">
	<caption>Destination (At Exit)</caption>
	    <tr>
	        <td>Emergency Shelter, including hotel or motel paid for with emergency shelter voucher</td>
	        <td><input type="checkbox" name="Destination" value="1" /></td>
	    </tr>
	    <tr>
	        <td>Transitional housing for homeless persons (including homeless youth)</td>
	        <td><input type="checkbox" name="Destination" value="2" /></td>
	    </tr>
	    <tr>
	        <td>Permanent supportive housing for formerly homeless persons(such as SHP, S+C, or SRO Mod Rehab)</td>
	        <td><input type="checkbox" name="Destination" value="3" /></td>
	    </tr>
	    <tr>
	        <td>Psychiatric hospital or other psychiatric facility</td>
	        <td><input type="checkbox" name="Destination" value="4" /></td>
	    </tr>
	    <tr>
	        <td>Substance abuse treatment facility or detox center</td>
	        <td><input type="checkbox" name="Destination" value="5" /></td>
	    </tr>
	    <tr>
	        <td>Hospital (non-psychiatric)</td>
	        <td><input type="checkbox" name="Destination" value="6" /></td>
	    </tr>
	    <tr>
	        <td>Jail, prison, or juvenile detention facility</td>
	        <td><input type="checkbox" name="Destination" value="7" /></td>
	    </tr>
	    <tr>
	        <td>Rental by client, no housing subsidy</td>
	        <td><input type="checkbox" name="Destination" value="8" /></td>
	    </tr>
	    <tr>
	        <td>Owned by client, no housing subsidy</td>
	        <td><input type="checkbox" name="Destination" value="9" /></td>
	    </tr>
	    <tr>
	        <td>Staying or living with family, temporary tenure (e.g. room, apartment, or house)</td>
	        <td><input type="checkbox" name="Destination" value="10" /></td>
	    </tr>
	    <tr>
	        <td>Staying or living with friends, temporary tenure (e.g. room, apartment, or house)</td>
	        <td><input type="checkbox" name="Destination" value="11" /></td>
	    </tr>
	    <tr>
	        <td>Hotel or motel paid for without emergency shelter voucher</td>
	        <td><input type="checkbox" name="Destination" value="12" /></td>
	    </tr>
	    <tr>
	        <td>Foster care home or foster care group home</td>
	        <td><input type="checkbox" name="Destination" value="13" /></td>
	    </tr>
	    <tr>
	        <td>Place not meant for habitation (e.g., a vehicle, an abandoned building, bus/train/subway station/ airport or anywhere outside)</td>
	        <td><input type="checkbox" name="Destination" value="14" /></td>
	    </tr>
	    <tr>
	        <td>Other</td>
	        <td><input type="checkbox" name="Destination" value="15" /></td>
	    </tr>
	    <tr>
	        <td>Safe Haven</td>
	        <td><input type="checkbox" name="Destination" value="16" /></td>
	    </tr>
	    <tr>
	        <td>Rental by client, VASH subsidy</td>
	        <td><input type="checkbox" name="Destination" value="17" /></td>
	    </tr>
	    <tr>
	        <td>Rental by client, other (non-VASH) housing subsidy</td>
	        <td><input type="checkbox" name="Destination" value="18" /></td>
	    </tr>
	    <tr>
	        <td>Owned by client, with housing subsidy</td>
	        <td><input type="checkbox" name="Destination" value="19" /></td>
	    </tr>
	    <tr>
	        <td>Staying or living with family, permanent tenure</td>
	        <td><input type="checkbox" name="Destination" value="20" /></td>
	    </tr>
	    <tr>
	        <td>Staying or living with friends, permanent tenure</td>
	        <td><input type="checkbox" name="Destination" value="21" /></td>
	    </tr>
	    <tr>
	        <td>Deceased</td>
	        <td><input type="checkbox" name="Destination" value="22" /></td>
	    </tr>
	    <tr>
	        <td>Don’t know</td>
	        <td><input type="checkbox" name="Destination" value="23" /></td>
	    </tr>
	    <tr>
	        <td>Refused</td>
	        <td><input type="checkbox" name="Destination" value="24" /></td>
	    </tr>
	</table>
	<h2>Enrollment Exit Date</h2>
	<p><input type="date" name="date"></p>
</form>
</div>
{% endblock %}