{% extends 'app_base.html' %}

{% block title %}Client Intake Form{% endblock %}

{% block content %}
<!-- 
View Changes Here:
https://ghack-ethanx94.c9users.io/intakeform/ 

Fields Here:
http://dpss.co.riverside.ca.us/files/pdf/homeless/hmis/intake-forms/hif-es.pdf

http://getbootstrap.com/css/javascript:return false;forms
-->

<div class="container">
    <h1 class="well">Client Intake Form - Emergency Shelters</h1>
    <h2 class="well">PLEASE FILL OUT A SEPARATE FORM FOR EACH FAMILY MEMBER AND CLIP TOGETHER</h2>
	<div class="col-lg-12 well">
		<form action method="post">
			<div class="row">
				<div class="col-sm-6 form-group">
					<label>Enrollment Date:</label>
                        <div class="form-group">
                            <div class='input-group date' id='enrollment_date'>
                                <input type='text' class="form-control" name='enrollment_date' placeholder="Enrollment Date"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
				</div>	
				<div class="col-sm-6 form-group">
					<label>Bed Check-in Date:</label>
                        <div class="form-group">
                            <div class='input-group date' id='bed_date'>
                                <input type='text' class="form-control" name='bed_date' placeholder="Bed Check-in Date"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
				</div>	
			</div><!--end row-->
			
				<div class="row">
					<div class="col-sm-6">
					<label>First Name</label>
					<div class="input-group">
					     <input type="text" class="form-control" id="firstName" name='firstName' placeholder="First Name">
					      <div class="input-group-btn dropdown">
					       <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
					       <ul class="dropdown-menu dropdown-menu-right" id="dropdown1">
					         <li><a href="javascript:return false;" data-value="Don't Know">Don't Know</a></li>
					         <li><a href="javascript:return false;" data-value="N/A">N/A</a></li>
					         <li><a href="javascript:return false;" data-value="Refused">Refused</a></li>
					       </ul>
					     </div><!-- /btn-group -->
				      </div><!-- /input-group -->
				   
					<label>Middle Name</label>
					<div class="input-group">
					     <input type="text" class="form-control" id="middleName" name='middleName' placeholder="Middle Name">
					      <div class="input-group-btn dropdown">
					       <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
					       <ul class="dropdown-menu dropdown-menu-right" id="dropdown2">
					         <li><a href="javascript:return false;">Don't Know</a></li>
					         <li><a href="javascript:return false;">N/A</a></li>
					         <li><a href="javascript:return false;">Refused</a></li>
					       </ul>
					     </div><!-- /btn-group -->
				      </div><!-- /input-group -->
				      
					<label>Last Name</label>
					<div class="input-group">
					     <input type="text" class="form-control" id="lastName" name='lastName' placeholder="Last Name">
					      <div class="input-group-btn dropdown">
					       <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
					       <ul class="dropdown-menu dropdown-menu-right" id="dropdown3">
					         <li><a href="javascript:return false;">Don't Know</a></li>
					         <li><a href="javascript:return false;">N/A</a></li>
					         <li><a href="javascript:return false;">Refused</a></li>
					       </ul>
					     </div><!-- /btn-group -->
				      </div><!-- /input-group -->
				      
				    <label>Suffix</label>
					<div class="input-group dropdown">
					     <input type="text" class="form-control" id="suffixName" name='suffixName' placeholder="Suffix">
					      <div class="input-group-btn dropdown">
					       <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
					       <ul class="dropdown-menu dropdown-menu-right">
					         <li><a href="javascript:return false;">Don't Know</a></li>
					         <li><a href="javascript:return false;">N/A</a></li>
					         <li><a href="javascript:return false;">Refused</a></li>
					       </ul>
					     </div><!-- /btn-group -->
				      </div><!-- /input-group -->
				      
				</div>
				 
				 <div class="col-sm-6">
					<label>Facility Client will be housed in:</label>
	            	<input class="form-control" type="text" name="clientFacility" id="clientFacility" placeholder="Client Housing Facility">
	            	<label>Room Client will be housed in:</label>
	            	<input class="form-control" type="text" name="clientRoom" id="clientRoom" placeholder="Client Room Number">
	            	<label>Bed Client will be assigned:</label>
	            	<input class="form-control" type="text" name="clientBed" id="clientBed" placeholder="Client Bed Number">
	            </div>
            </div><!--end row-->
            
			<div class="row">
				<div class="col-sm-4 form-group">
					<label>Social Security Number</label>
						<div class="input-group">
						     <input type="text" class="form-control" id="ssn" name="ssn" placeholder="XXX-XX-XXXX">
						      <div class="input-group-btn dropdown">
						       <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						       	Full SSN Reported
						       	<span class="caret"></span>
						       </button>
						       <ul class="dropdown-menu dropdown-menu-right">
						         <li><a href="javascript:return false;"> Full SSN Reported </a></li>
						         <li><a href="javascript:return false;"> Partial SSN Reported </a></li>
						         <li><a href="javascript:return false;"> Don't Know </a></li>
						         <li><a href="javascript:return false;"> Refused </a></li>
						       </ul>
						     </div><!-- /btn-group -->
					      </div><!-- /input-group -->
				</div>
				
				<div class="col-sm-1 form-group">
					<label>Gender</label>
						<div class="dropdown">
							 <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuGender" data-toggle="dropdown" name="gender" aria-haspopup="true" aria-expanded="true">
							   Gender
							   <span class="caret"></span>
							 </button>
							 <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							   <li><a href="javascript:void(0);" onclick="document.getElementById('dropdownMenuGender').value='0';">Female</a></li>
							   <li><a href="javascript:void(0);" onclick="document.getElementById('dropdownMenuGender').value='1';">Male</a></li>
							   <li><a href="javascript:void(0);" onclick="document.getElementById('dropdownMenuGender').value='2';">Transgender Male to Female</a></li>
							   <li><a href="javascript:void(0);" onclick="document.getElementById('dropdownMenuGender').value='3';">Transgender Female to Male</a></li>
							   <li><a href="javascript:void(0);" onclick="document.getElementById('dropdownMenuGender').value='97';">Other</a></li>
							   <li><a href="javascript:void(0);" onclick="document.getElementById('dropdownMenuGender').value='98';">Don't Know</a></li>
							   <li><a href="javascript:void(0);" onclick="document.getElementById('dropdownMenuGender').value='99';">Refused</a></li>
							 </ul>
						</div>
				</div>
				
				<div class="col-sm-2 form-group">
					<label>Race:</label>
						<div class="dropdown">
							 <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuRace" name="race" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							 Race
							  <span class="caret"></span></button>
							 <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
							   <li><a href="javascript:return false;">American Indian/Alaskan Native</a></li>
							   <li><a href="javascript:return false;">Asian</a></li>
							   <li><a href="javascript:return false;">Black/African American</a></li>
							   <li><a href="javascript:return false;">Native Hawiian or Other Pacific Islander</a></li>
							   <li><a href="javascript:return false;">White/Caucasian</a></li>
							   <li><a href="javascript:return false;">Don't Know</a></li>
							   <li><a href="javascript:return false;">Refused</a></li>
							 </ul>
						</div>
				</div>
				<div class="col-sm-2">
						<label>Birth Date:</label>
                        <div class="form-group">
                            <div class='input-group date' id='birth_date'>
                                <input type='text' class="form-control" name='birth_date' placeholder="Birth Date"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div><!--/btn group-->
					</div><!--/input-group-->
				<div class="col-sm-2 form-group">
					<label>Age (Birthday Unk.)</label>
					<input type="text" placeholder="Age" name="age" class="form-control">
				</div>	
			</div><!--end row-->
			
			<div class="row">
				<div class="col-sm-3 form-group">
					<label>Phone Number:</label>
					<input type="text" class="form-control" name="phoneNum" placeholder="(XXX) XXX-XXXX">
				</div>		
				<div class="col-sm-3 form-group">
					<label>Email Address:</label>
					<input type="email" name="email" placeholder="someone@example.com" class="form-control">
				</div>
				<div class="col-sm-3 form-group">
					<label>Zip Code:</label>
						<div class="input-group">
						     <input type="text" class="form-control" id="zip" name="zip" placeholder="Zip Code" maxlength="5">
						      <div class="input-group-btn dropdown">
						       <button type="button" class="btn btn-default dropdown-toggle" name="zipStatus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Full Zip Reported <span class="caret"></span></button>
						       <ul class="dropdown-menu dropdown-menu-right">
						         <li><a href="javascript:return false;">Full Zip Reported</a></li>
						         <li><a href="javascript:return false;">Partial Zip Reported</a></li>
						         <li><a href="javascript:return false;">Don't Know</a></li>
						         <li><a href="javascript:return false;">Refused</a></li>
						       </ul>
						     </div><!-- /btn-group -->
					      </div><!-- /input-group -->
					</div>
				<div class="col-sm-3 form-group">
					<label>City/State (Zip Unk.):</label>
						<div class="input-group">
						     <input type="text" class="form-control" id="city2" name="city2" placeholder="City">
						      <div class="input-group-btn dropdown">
						       <button type="button" class="btn btn-default dropdown-toggle" name="state" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">State <span class="caret"></span></button>
						       <ul class="dropdown-menu dropdown-menu-right" style="height:150px; width:18%; overflow:hidden; overflow-y:scroll;" >
						         <li><a href="javascript:return false;"> AL (Alabama) </a></li>
						         <li><a href="javascript:return false;"> AK (Alaska) </a></li>
						         <li><a href="javascript:return false;"> AZ (Arizona) </a></li>
						         <li><a href="javascript:return false;"> AR (Arkansas) </a></li>
						         <li><a href="javascript:return false;"> CA (California) </a></li>
						         <li><a href="javascript:return false;"> CO (Colorado) </a></li>
						         <li><a href="javascript:return false;"> CT (Conneticut) </a></li>
						         <li><a href="javascript:return false;"> DE (Delaware) </a></li>
						         <li><a href="javascript:return false;"> FL (Florida) </a></li>
						         <li><a href="javascript:return false;"> GA (Georgia) </a></li>
						         <li><a href="javascript:return false;"> HI (Hawaii) </a></li>
						         <li><a href="javascript:return false;"> ID (Idaho) </a></li>
						         <li><a href="javascript:return false;"> IL (Illinois) </a></li>
						         <li><a href="javascript:return false;"> IN (Indiana) </a></li>
						         <li><a href="javascript:return false;"> IA (Iowa) </a></li>
						         <li><a href="javascript:return false;"> KS (Kansas) </a></li>
						         <li><a href="javascript:return false;"> KY (Kentucky) </a></li>
						         <li><a href="javascript:return false;"> LA (Louisiana) </a></li>
						         <li><a href="javascript:return false;"> ME (Maine) </a></li>
						         <li><a href="javascript:return false;"> MD (Maryland) </a></li>
						         <li><a href="javascript:return false;"> MA (Massachusetts) </a></li>
						         <li><a href="javascript:return false;"> MI (Michigan) </a></li>
						         <li><a href="javascript:return false;"> MN (Minnesota) </a></li>
						         <li><a href="javascript:return false;"> MS (Mississippi) </a></li>
						         <li><a href="javascript:return false;"> MO (Missouri) </a></li>
						         <li><a href="javascript:return false;"> MT (Montana) </a></li>
						         <li><a href="javascript:return false;"> NE (Nebraska) </a></li>
						         <li><a href="javascript:return false;"> NV (Nevada) </a></li>
						         <li><a href="javascript:return false;"> NH (New Hampshire) </a></li>
						         <li><a href="javascript:return false;"> NJ (New Jersey) </a></li>
						         <li><a href="javascript:return false;"> NM (New Mexico) </a></li>
						         <li><a href="javascript:return false;"> NY (New York) </a></li>
						         <li><a href="javascript:return false;"> NC (North Carolina) </a></li>
						         <li><a href="javascript:return false;"> ND (North Dakota) </a></li>
						         <li><a href="javascript:return false;"> OH (Ohio) </a></li>
						         <li><a href="javascript:return false;"> OK (Oklahoma) </a></li>
						         <li><a href="javascript:return false;"> OR (Oregon) </a></li>
						         <li><a href="javascript:return false;"> PA (Pennsylvania) </a></li>
						         <li><a href="javascript:return false;"> RI (Rhode Island) </a></li>
						         <li><a href="javascript:return false;"> SC (South Carolina) </a></li>
						         <li><a href="javascript:return false;"> SD (South Dakota) </a></li>
						         <li><a href="javascript:return false;"> TN (Tennessee) </a></li>
						         <li><a href="javascript:return false;"> TX (Texas) </a></li>
						         <li><a href="javascript:return false;"> UT (Utah) </a></li>
						         <li><a href="javascript:return false;"> VT (Vermont) </a></li>
						         <li><a href="javascript:return false;"> VA (Virginia) </a></li>
						         <li><a href="javascript:return false;"> WA (Washington) </a></li>
						         <li><a href="javascript:return false;"> WV (West Virginia) </a></li>
						         <li><a href="javascript:return false;"> WI (Wisconsin) </a></li>
						         <li><a href="javascript:return false;"> WY (Wyoming) </a></li>
						         <li><a href="javascript:return false;"> Don't Know</a></li>
						         <li><a href="javascript:return false;"> Refused</a></li>
						       </ul>
						     </div><!-- /btn-group -->
					      </div><!-- /input-group -->
			</div><!--end row-->
			
			<div class="row">
				<div class="col-sm-3 form-group">
				<label>Disabling Condition:</label>
					<div class="dropdown">
						 <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDisableCond" name ="condition" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						   Disabling Condition
						   <span class="caret"></span>
						 </button>
						 <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
						   <li><a href="javascript:return false;">No</a></li>
						   <li><a href="javascript:return false;">Yes</a></li>
						   <li><a href="javascript:return false;">Don't Know</a></li>
						   <li><a href="javascript:return false;">Refused</a></li>
						 </ul>
					</div>
				</div>
				<div class="col-sm-3 form-group">
					<label>Veteran Status:</label>
					<div class="dropdown">
						 <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuVetStat" name="vetStatus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						   Veteran Status
						   <span class="caret"></span>
						 </button>
						 <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
						   <li><a href="javascript:return false;">No</a></li>
						   <li><a href="javascript:return false;">Yes</a></li>
						   <li><a href="javascript:return false;">Don't Know</a></li>
						   <li><a href="javascript:return false;">Refused</a></li>
						 </ul>
					</div>
				</div>
				<div class="col-sm-3 form-group">
				<label>Prior Residence:</label>
					<div class="dropdown">
						 <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuPrRes" name="prior" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						   Prior Residence
						   <span class="caret"></span>
						 </button>
						 <ul class="dropdown-menu" aria-labelledby="dropdownMenuRes" style="height:150px; width:700px;overflow:hidden; overflow-y:scroll;">
						   <li><a href="javascript:return false;">Emergency Shelter</a></li>
						   <li><a href="javascript:return false;">Transitional Housing for Homeless Persons (including homeless youth)	</a></li>
						   <li><a href="javascript:return false;">Permanent Housing for Formerly Homeless Persons (such as SHP, S+C, SRO Mod Rehab)</a></li>
						   <li><a href="javascript:return false;">Psychiatric Hospital</a></li>
						   <li><a href="javascript:return false;">Substance Abuse Treatment Center</a></li>
						   <li><a href="javascript:return false;">Hospital</a></li>
						   <li><a href="javascript:return false;">Prison</a></li>
						   <li><a href="javascript:return false;">Rental by Client, No Housing Subsidy</a></li>
						   <li><a href="javascript:return false;">Rental by Client, with VASH Housing Subsidy</a></li>
						   <li><a href="javascript:return false;">Rental by Client, with Other (Non-Vash) Housing Subsidy</a></li>
						   <li><a href="javascript:return false;">Owned by Client, No Housing Subsidy</a></li>
						   <li><a href="javascript:return false;">Owned by Client, with Housing Subsidy</a></li>
						   <li><a href="javascript:return false;">Staying or Living in a Family Member’s Room, Apartment, or House</a></li>
						   <li><a href="javascript:return false;">Staying or Living in a Friend’s Room, Apartment, or House</a></li>
						   <li><a href="javascript:return false;">Hotel/Motel Paid for Without Emergency Shelter Voucher	</a></li>
						   <li><a href="javascript:return false;">Foster Care Home/Foster Care Group Home</a></li>
						   <li><a href="javascript:return false;">Places Not Meant for Habitation e.g., (Vehicles, Abandoned Building, Bus/Train/Subway Station/Airport, etc)</a></li>
						   <li><a href="javascript:return false;">Safe Haven</a></li>
						   <li><a href="javascript:return false;">Other (Describe)</a></li>
						   <li><a href="javascript:return false;">Don't Know</a></li>
						   <li><a href="javascript:return false;">Refused</a></li>
						   
						 </ul>
					</div>
				</div><!-- end row -->
				<div class="col-sm-3 form-group">
					<label>Length of Stay:</label>
					<div class="dropdown">
						
						 <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuStayLength" name="stayLength" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						   Length of Stay
						   <span class="caret"></span>
						 </button>
						 <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
						   <li><a href="javascript:return false;">One Week or Less</a></li>
						   <li><a href="javascript:return false;">Less Than a Month</a></li>
						   <li><a href="javascript:return false;">1-3 Months</a></li>
						   <li><a href="javascript:return false;">More Than 3 Months, but Less Than a Year</a></li>
						   <li><a href="javascript:return false;">More Than a Year</a></li>
						   <li><a href="javascript:return false;">Don't Know</a></li>
						   <li><a href="javascript:return false;">Refused</a></li>
						   
						 </ul>
					</div>
				</div>
			</div><!-- end row -->
			
			<div class="row">
				<div class="col-sm-4 form-group">
				<label>Housing Status:</label>
					<div class="dropdown">
						 <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuHouseStat" name="houseStat" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						   Status        
						   <span class="caret"></span>
						 </button>
						 <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
						   <li><a href="javascript:return false;">Homeless</a></li>
						   <li><a href="javascript:return false;">Housed, but at-risk of losing housing	</a></li>
						   <li><a href="javascript:return false;">Housed, but at imminent risk of losing housing	</a></li>
						   <li><a href="javascript:return false;">Stably Housed</a></li>
						   <li><a href="javascript:return false;">Don't Know</a></li>
						   <li><a href="javascript:return false;">Refused</a></li>
						 </ul>
					</div>
				</div>
					
			</div><!-- end row-->
				
			</div><!-- end row -->
				<div class="row col-lg-12 full">
					<h3>Financial Resouces:</h3>
				</div>
				
				<br>
				
			<div class="row">
				
				<div class="col-sm-3 form-group">
				<label>Any income received in the past 30 days?</label>
					<div class="dropdown">
						 <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuHouseIncome" name="income" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						 	 &nbsp
						   <span class="caret"></span>
						 </button>
						 <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
						   <li><a href="javascript:return false;">Yes</a></li>
						   <li><a href="javascript:return false;">No</a></li>
						   <li><a href="javascript:return false;">Don't Know</a></li>
						   <li><a href="javascript:return false;">Refused</a></li>
						 </ul>
					</div>
				</div>
			</div>
			
			
			
				<div class ="row">
				<table class="table">
                    <thead>
                    	<th class="col-sm-2 text-center">Sources of Income</th>
                    	<th class="col-sm-2 text-center" colspan="2">Receiveing Income </th>
                   
                    </thead>
                    <tbody>
                      
                        <tr>
                            <th class="col-sm-2">Earned Income</th>
                             <th class="col-sm-1 text-center"><input type="radio" name="R2"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="R2"/> No</th>
                        </tr>
                         <tr>
                            <th class="col-sm-2">Unemployement Insurance</th>
                              <th class="col-sm-1 text-center"><input type="radio" name="R3"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="R3"/> No</th>
                        </tr>
                         <tr>
                            <th class="col-sm-2">Supplement Security Insurance(SSI)</th>
                              <th class="col-sm-1 text-center"><input type="radio" name="R4"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="R4"/> No</th>
                        </tr>
                         <tr>
                            <th class="col-sm-2">Social Security Disability Income (SSDI)</th>
                             <th class="col-sm-1 text-center"><input type="radio" name="R5"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="R5"/> No</th>
                        </tr>
                         <tr>
                            <th class="col-sm-2">Veteran’s Disability Payment</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="R6"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="R6"/> No</th>
                        </tr>
                         <tr>
                            <th class="col-sm-2">Private Disability Insurance</th>
             				  <th class="col-sm-1 text-center"><input type="radio" name="R7"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="R7"/> No</th>
                        </tr>
                         <tr>
                            <th class="col-sm-2">Workers Compensation</th>
                             <th class="col-sm-1 text-center"><input type="radio" name="R8"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="R8"/> No</th>
                        </tr>
                         <tr>
                            <th class="col-sm-2">Temporary Assistance for Needy Families (TANF)</th>
                             <th class="col-sm-1 text-center"><input type="radio" name="R9"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="R9"/> No</th>
                        </tr>
                          <tr>
                            <th class="col-sm-2">General Assistance (GA)</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="R10"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="R10"/> No</th>
                        </tr>
                          <tr>
                            <th class="col-sm-2">Retirement income from Social Security</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="R11"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="R11"/> No</th>
                        </tr>
                          <tr>
                            <th class="col-sm-2">Veteran’s Pension</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="R12"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="R12"/> No</th>
                        </tr>
                          <tr>
                            <th class="col-sm-2">Pension from former job</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="R13"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="R13"/> No</th>
                        </tr>
                          <tr>
                            <th class="col-sm-2">Child Support</th>
                           <th class="col-sm-1 text-center"><input type="radio" name="R14"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="R14"/> No</th>
                        </tr>
                          <tr>
                            <th class="col-sm-2">Alimony or other spousal support</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="R15"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="R15"/> No</th>
                        </tr>
                        <tr>
                            <th class="col-sm-2">Other source</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="R16"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="R16"/> No</th>
                        </tr>
                      <tr>
                            <th class="col-sm-2">Total Monthly Income:</th>
                            <th class="col-sm-1 text-center"></th>
                            <th class="col-sm-1 text-center"></th>
                            <th class="col-sm-1 text-center"><input type="text" name="total" placeholder="Total Monthly Income"/></th>
                        </tr>
                       
                    </tbody>
                </table>
				</div>
				
				<br>
				
				<div class="row">
				
				<div class="col-sm-3 form-group">
				<label>Non-Cash benefit received from any source in past 30 days?</label>
					<div class="dropdown">
						 <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuPD" name="PD" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						    &nbsp
						   <span class="caret"></span>
						 </button>
						 <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
						   <li><a href="javascript:return false;">Yes</a></li>
						   <li><a href="javascript:return false;">No</a></li>
						   <li><a href="javascript:return false;">Don't Know</a></li>
						   <li><a href="javascript:return false;">Refused</a></li>
						 </ul>
					</div>
				</div>
			</div>
				<div class ="row">
				<table class="table">
                    <thead>
                    	<th class="col-sm-2 text-center">Sources of Non-Cash Benefits</th>
                    	<th class="col-sm-2 text-center" colspan="2">Receiveing Benefit</th>
                    	
                    </thead>
                    <tbody>
                      
                        <tr>
                            <th class="col-sm-2">Supplemental Nutrition Assistance Program (SNAP)(Previously known as Food Stamps</th>
                             <th class="col-sm-1 text-center"><input type="radio" name="S1"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="S1"/> No</th>
                        </tr>
                         <tr>
                            <th class="col-sm-2">MEDICAID health insurance program (or use local name)</th>
                              <th class="col-sm-1 text-center"><input type="radio" name="S2"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="S2"/> No</th>
                        </tr>
                         <tr>
                            <th class="col-sm-2">MEDICARE health insurance program (or use local name)</th>
                              <th class="col-sm-1 text-center"><input type="radio" name="S3"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="S3"/> No</th>
                        </tr>
                         <tr>
                            <th class="col-sm-2">State Children’s Health Insurance Program (or use local name)</th>
                             <th class="col-sm-1 text-center"><input type="radio" name="S4"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="S4"/> No</th>
                        </tr>
                         <tr>
                            <th class="col-sm-2">Special Supplemental Nutrition Program for Women,Infants, and Children (WIC)</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="S5"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="S5"/> No</th>
                        </tr>
                         <tr>
                            <th class="col-sm-2">Veteran’s Administration (VA) Medical Services</th>
             				  <th class="col-sm-1 text-center"><input type="radio" name="S6"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="S6"/> No</th>
                        </tr>
                         <tr>
                            <th class="col-sm-2">TANF Child Care services (or use local name)</th>
                             <th class="col-sm-1 text-center"><input type="radio" name="S7"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="S7"/> No</th>
                        </tr>
                         <tr>
                            <th class="col-sm-2">TANF transportation services (or use local name)</th>
                             <th class="col-sm-1 text-center"><input type="radio" name="S8"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="S8"/> No</th>
                        </tr>
                          <tr>
                            <th class="col-sm-2">Other TANF-funded services (or use local name)</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="S9"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="S9"/> No</th>
                        </tr>
                          <tr>
                            <th class="col-sm-2">Section 8, public housing, or other rental assistance</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="S9"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="S9"/> No</th>
                        </tr>
                        <tr>
                            <th class="col-sm-2">Other source</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="S14"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="S14"/> No</th>
                        </tr>
                       
                    </tbody>
                </table>
				</div>
			<div class ="row">
				<table class="table">
                    <thead>
                    	<th class="col-sm-2 text-center">Sources of Non-Cash Benefits</th>
                    	<th class="col-sm-2 text-center" colspan="2">Receiveing Benefit</th>
                    	
                    </thead>
                    <tbody>
                      
                        <tr>
                            <th class="col-sm-2">Supplemental Nutrition Assistance Program (SNAP)(Previously known as Food Stamps</th>
                             <th class="col-sm-1 text-center"><input type="radio" name="S1"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="S1"/> No</th>
                            
                        </tr>
                         <tr>
                            <th class="col-sm-2">MEDICAID health insurance program (or use local name)</th>
                              <th class="col-sm-1 text-center"><input type="radio" name="S2"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="S2"/> No</th>
                        </tr>
                         <tr>
                            <th class="col-sm-2">MEDICARE health insurance program (or use local name)</th>
                              <th class="col-sm-1 text-center"><input type="radio" name="S3"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="S3"/> No</th>
                        </tr>
                         <tr>
                            <th class="col-sm-2">State Children’s Health Insurance Program (or use local name)</th>
                             <th class="col-sm-1 text-center"><input type="radio" name="S4"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="S4"/> No</th>
                        </tr>
                         <tr>
                            <th class="col-sm-2">Special Supplemental Nutrition Program for Women,Infants, and Children (WIC)</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="S5"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="S5"/> No</th>
                        </tr>
                         <tr>
                            <th class="col-sm-2">Veteran’s Administration (VA) Medical Services</th>
             				  <th class="col-sm-1 text-center"><input type="radio" name="S6"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="S6"/> No</th>
                        </tr>
                         <tr>
                            <th class="col-sm-2">TANF Child Care services (or use local name)</th>
                             <th class="col-sm-1 text-center"><input type="radio" name="S7"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="S7"/> No</th>
                        </tr>
                         <tr>
                            <th class="col-sm-2">TANF transportation services (or use local name)</th>
                             <th class="col-sm-1 text-center"><input type="radio" name="S8"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="S8"/> No</th>
                        </tr>
                          <tr>
                            <th class="col-sm-2">Other TANF-funded services (or use local name)</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="S9"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="S9"/> No</th>
                        </tr>
                          <tr>
                            <th class="col-sm-2">Section 8, public housing, or other rental assistance</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="S9"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="S9"/> No</th>
                        </tr>
                        <tr>
                            <th class="col-sm-2">Other source</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="S14"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="S14"/> No</th>
                        </tr>
                       
                    </tbody>
                </table>
				</div>
				<br>
		
				<h3><u>Medical/Domestic Violence:</u></h3>
			<div class ="row">
				<table class="table">
                 
                    <tbody>
                      
                        <tr>
                            	<th class="col-sm-2">Physical Disability:</th>
                             <th class="col-sm-1 text-center"><input type="radio" name="T1"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="T1"/> No</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="T1"/> Don't Know</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="T1"/> Refused</th>
                        </tr>
                         <tr>
                            <th class="col-sm-2">(If yes) Currently receiving services or treatment for this condition or received services/treatment prior to exiting the program?</th>
                              <th class="col-sm-1 text-center"><input type="radio" name="T2"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="T2"/> No</th>
                             <th class="col-sm-1 text-center"><input type="radio" name="T2"/> Don't Know</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="T2"/> Refused</th>
                        </tr>
                       
                    </tbody>
                </table>
				</div> 
				
				<div class ="row">
				<table class="table">
                   
                    <tbody>
                      
                        <tr>
                            	<th class="col-sm-2">Developmental Disability:</th>
                             <th class="col-sm-1 text-center"><input type="radio" name="T3"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="T3"/> No</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="T3"/> Don't Know</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="T3"/> Refused</th>
                        </tr>
                         <tr>
                            <th class="col-sm-2">(If yes) Currently receiving services or treatment for this condition or received services/treatment prior to exiting the program?</th>
                              <th class="col-sm-1 text-center"><input type="radio" name="T4"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="T4"/> No</th>
                             <th class="col-sm-1 text-center"><input type="radio" name="T4"/> Don't Know</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="T4"/> Refused</th>
                        </tr>
                       
                    </tbody>
                </table>
				</div> 
				
				<div class ="row">
				<table class="table">
                   
                    <tbody>
                      
                        <tr>
                            	<th class="col-sm-2">Chronic Health Condition:</th>
                             <th class="col-sm-1 text-center"><input type="radio" name="T5"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="T5"/> No</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="T5"/> Don't Know</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="T5"/> Refused</th>
                        </tr>
                         <tr>
                            <th class="col-sm-2">(If yes) Currently receiving services or treatment for this condition or received services/treatment prior to exiting the program?</th>
                              <th class="col-sm-1 text-center"><input type="radio" name="T6"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="T6"/> No</th>
                             <th class="col-sm-1 text-center"><input type="radio" name="T6"/> Don't Know</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="T6"/> Refused</th>
                        </tr>
                       
                    </tbody>
                </table>
				</div> 
				
				<div class ="row">
				<table class="table">
                   
                    <tbody>
                      
                        <tr>
                            	<th class="col-sm-2">HIV/AIDS:</th>
                             <th class="col-sm-1 text-center"><input type="radio" name="T7"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="T7"/> No</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="T7"/> Don't Know</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="T7"/> Refused</th>
                        </tr>
                         <tr>
                            <th class="col-sm-2">(If yes) Currently receiving services or treatment for this condition or received services/treatment prior to exiting the program?</th>
                              <th class="col-sm-1 text-center"><input type="radio" name="T8"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="T8"/> No</th>
                             <th class="col-sm-1 text-center"><input type="radio" name="T8"/> Don't Know</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="T8"/> Refused</th>
                        </tr>
                       
                    </tbody>
                </table>
				</div> 
				
				
				
				<div class ="row">
				<table class="table">
                   
                    <tbody>
                      
                        <tr>
                            	<th class="col-sm-2">Mental Health Problems:</th>
                             <th class="col-sm-1 text-center"><input type="radio" name="T9"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="T9"/> No</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="T9"/> Don't Know</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="T9"/> Refused</th>
                        </tr>
                        <tr>
                            <th class="col-sm-2">(If client has a mental health problem) Expected to be of long-continued and indefinite duration and substantially impairs ability to live independently?</th>
                              <th class="col-sm-1 text-center"><input type="radio" name="T10"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="T10"/> No</th>
                             <th class="col-sm-1 text-center"><input type="radio" name="T10"/> Don't Know</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="T10"/> Refused</th>
                        </tr>
                         <tr>
                            <th class="col-sm-2">(If client has a mental health problem) Currently receiving services or treatment for this condition or received services/treatment prior to exiting the program?</th>
                              <th class="col-sm-1 text-center"><input type="radio" name="T11"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="T11"/> No</th>
                             <th class="col-sm-1 text-center"><input type="radio" name="T11"/> Don't Know</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="T11"/> Refused</th>
                        </tr>
                       
                    </tbody>
                </table>
				</div> 
				
					<div class ="row">
				<table class="table">
                   
                    <tbody>
                      
                        <tr>
                            	<th class="col-sm-2">Substance Abuse Problems:</th>
                             <th class="col-sm-1 text-center"><input type="radio" name="T12"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="T12"/> No</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="T12"/> Don't Know</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="T12"/> Refused</th>
                        </tr>
                        <tr>
                            <th class="col-sm-2">(If client has a mental health problem) Expected to be of long-continued and indefinite duration and substantially impairs ability to live independently?</th>
                              <th class="col-sm-1 text-center"><input type="radio" name="T13"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="T13"/> No</th>
                             <th class="col-sm-1 text-center"><input type="radio" name="T13"/> Don't Know</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="T13"/> Refused</th>
                        </tr>
                         <tr>
                            <th class="col-sm-2">(If client has a mental health problem) Currently receiving services or treatment for this condition or received services/treatment prior to exiting the program?</th>
                              <th class="col-sm-1 text-center"><input type="radio" name="T14"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="T14"/> No</th>
                             <th class="col-sm-1 text-center"><input type="radio" name="T14"/> Don't Know</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="T14"/> Refused</th>
                        </tr>
                       
                    </tbody>
                </table>
				</div> 
				
				<div class ="row">
				<table class="table">
                   
                    <tbody>
                      
                        <tr>
                            	<th class="col-sm-2">Domestic Violence Victim/Survivor:</th>
                             <th class="col-sm-1 text-center"><input type="radio" name="D1"/> Yes</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="D1"/> No</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="D1"/> Don't Know</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="D1"/> Refused</th>
                        </tr>
                         <tr>
                            <th class="col-sm-2">(If yes) When experience occurred?</th>
                             <th class="col-sm-1 text-center"><input type="date" name="D3"/>Domestic Violence Occurrence</th>
                             <th class="col-sm-1 text-center"><input type="radio" name="D3"/> Don't Know</th>
                            <th class="col-sm-1 text-center"><input type="radio" name="D3"/> Refused</th>
                           
                        </tr>
                       
                    </tbody>
                </table>
				</div> 
			
				<br>
				
				<h3><u>Services Needed:</u></h3>
				<div class ="row">
				<table class="table">
                   
                    <tbody>
                      
                        	<tr>
                            	 <th class="col-sm-1">Outreach &nbsp<input type="checkbox" name="C1"/> </th>
                             </tr>
                             
                             <tr>
                           		 <th class="col-sm-1">Case Management &nbsp<input type="checkbox" name="C2"/> </th>
                            </tr>
                            
                           	 <tr>
                            	<th class="col-sm-1">Life Skills (Outside of Case Management) &nbsp<input type="checkbox" name="C3"/> </th>
                            </tr>
                           
                          	 <tr>
                           		 <th class="col-sm-1">Alcohol or drug abuse services &nbsp<input type="checkbox" name="C4"/> </th>
                       	   	</tr>
                       	   
                       	 	 <tr>
                            	<th class="col-sm-1">Mental health services &nbsp<input type="checkbox" name="C5"/></th>
                            </tr>
                            
                            <tr>
                            	 <th class="col-sm-1">HIV / AIDS–related services &nbsp<input type="checkbox" name="C6"/></th>
                            </tr>
                            
                            	<tr>
                            	 <th class="col-sm-1">Other health care services &nbsp<input type="checkbox" name="C7"/> </th>
                             </tr>
                             
                             <tr>
                           		 <th class="col-sm-1">Education &nbsp<input type="checkbox" name="C8"/> </th>
                            </tr>
                            
                           	 <tr>
                            	<th class="col-sm-1">Housing placement (Outside of Case Management) &nbsp<input type="checkbox" name="C9"/> </th>
                            </tr>
                           
                          	 <tr>
                           		 <th class="col-sm-1">Employment assistance &nbsp<input type="checkbox" name="C10"/> </th>
                       	   	</tr>
                       	   
                       	 	 <tr>
                            	<th class="col-sm-1">Child care &nbsp<input type="checkbox" name="C11"/></th>
                            </tr>
                            
                            <tr>
                            	 <th class="col-sm-1">Transportation &nbsp<input type="checkbox" name="C12"/></th>
                            </tr>
                           
                            <tr>
                           		 <th class="col-sm-1">Legal &nbsp<input type="checkbox" name="C13"/> </th>
                            </tr>
                            
                           	 <tr>
                            	<th class="col-sm-1">Deceased &nbsp<input type="checkbox" name="C14"/> </th>
                            </tr>
                           
                          	 <tr>
                           		 <th class="col-sm-1">Other (Describe) &nbsp<input type="checkbox" name="C15"/> </th>
                       	   	</tr>
                       	   
                       	 	 <tr>
                            	<th class="col-sm-1">Don’t know &nbsp<input type="checkbox" name="C16"/></th>
                            </tr>
                            
                            <tr>
                            	 <th class="col-sm-1">Refused &nbsp<input type="checkbox" name="C17"/></th>
                            </tr>
                       
                       
                    </tbody>
                </table>
				</div> 
				
				<br>
				<br>
				
			<div class="row">
				<div class="col-sm-6 form-group">
					<label>Enrollment Exit Date:</label>
                        <div class="form-group">
                            <div class='input-group date' id='enrollment_exit_date'>
                                <input type='text' class="form-control" name='enrollment_exit_date' placeholder="Enrollment Exit Date"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
				</div>	
				
				
				<div class="col-sm-3 form-group">
				<label>Destination (At Exit): </label>
					<div class="dropdown">
						 <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuD" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						   Residence
						   <span class="caret"></span>
						 </button>
						 <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" style="height:150px; width:700px;overflow:hidden; overflow-y:scroll;" >
						   <li><a href="javascript:return false;">Emergency Shelter, including hotel or motel paid for with emergency shelter voucher</a></li>
						   <li><a href="javascript:return false;">Transitional housing for homeless persons (including homeless youth)</a></li>
						   <li><a href="javascript:return false;">Permanent supportive housing for formerly homeless persons(such as SHP, S+C, or SRO Mod Rehab)</a></li>
						   <li><a href="javascript:return false;">Psychiatric hospital or other psychiatric facility</a></li>
						   <li><a href="javascript:return false;">Substance abuse treatment facility or detox center</a></li>
						   <li><a href="javascript:return false;">Hospital</a></li>
						   <li><a href="javascript:return false;">Jail, prison, or juvenile detention facility</a></li>
						   <li><a href="javascript:return false;">Rental by client, no housing subsidy</a></li>
						   <li><a href="javascript:return false;">Owned by client, no housing subsidy</a></li>
						   <li><a href="javascript:return false;">Staying or living with family, temporary tenure (e.g. room, apartment, or house</a></li>
						   <li><a href="javascript:return false;">Staying or living with friends, temporary tenure (e.g. room, apartment, or house)</a></li>
						   <li><a href="javascript:return false;">Hotel or motel paid for without emergency shelter voucher</a></li>
						   <li><a href="javascript:return false;">Foster care home or foster care group home</a></li>
						   <li><a href="javascript:return false;">Place not meant for habitation (e.g., a vehicle, an abandoned building, bus/train/subway station/ airport or anywhere outside)</a></li>
						   <li><a href="javascript:return false;">Safe Haven</a></li>
						   <li><a href="javascript:return false;">Other</a></li>
						   <li><a href="javascript:return false;">Rental by client, VASH subsidy</a></li>
						   <li><a href="javascript:return false;">Rental by client, other (non-VASH) housing subsidy</a></li>
						   <li><a href="javascript:return false;">Owned by client, with housing subsidy</a></li>
						   <li><a href="javascript:return false;">Staying or living with family, permanent tenure</a></li>
						   <li><a href="javascript:return false;">Staying or living with friends, temporary tenure (e.g. room, apartment, or house)</a></li>
						   <li><a href="javascript:return false;">Deceased</a></li>
						   <li><a href="javascript:return false;">Don't Know</a></li>
						   <li><a href="javascript:return false;">Refused</a></li>
						 </ul>
					</div>
				</div>
				
			
			
			<div class="row">
				
				<div class="col-sm-2">
					<button type="submit" class="btn btn-lg btn-info">Submit</button>
					{% csrf_token %}
				</div>
			</div><!-- end row -->
		</form> 
	</div>
</div>



    
 
{% endblock %}