<html>
    {% include 'header.html' %}
    
    <body>
        <div class="register">
            <form method='post' class="register_form">
                {% csrf_token %}
                <!--<input type="text" class="form-control" id="shelter_name" placeholder="Shelter Name">-->
                <!--<input type="text" class="form-control" id="shelter_email" placeholder="johndoe@shelter.com">                -->
                <!--<input type="text" class="form-control" id="shelter_password" placeholder="Password">-->
                <!--<input type="text" class="" id="shelter_address" placeholder="address">-->
                <!--<input type="text" class="" id="shelter_city" placeholder="City">-->
                <!--<input type="text" class="" id="shelter_state" placeholder="State">-->
                
                <!--<input type="text" class="form-control" id="shelter_desc" placeholder="Description">-->
                
                <!--<p>Services</p>-->
                <!--Beds-->
                <!--<input type="checkbox" id="shelter_rooms" name="room_service" value="Beds">-->
                <!--Food Pantry-->
                <!--<input type="checkbox" id="shelter_foods" name="food_service" value="Food Pantry">-->
                <!--Housing-->
                <!--<input type="checkbox" id="shelter_housing" name="housing_service" value="Housing">-->
               {{ form }}
                
                <input type="submit" class="form-control" id="" placeholder="submit">
            
             </form>
        </div>
    </body>
    
    {% include 'footer.html' %}
    
</html>