{% extends 'app_base.html' %}


{% block content %}
<html>
    {% include 'head.html' %}
    
    <body>
        <div class="container">
        <div class="containter full">
        <h1 class="well text-center">Register</h1>
        </div>
        <div class="well">
    	    <form class="form-horizontal" role="form">
    		    <div class="col-sm-12 row form-group">
    			    <label for="email" class="col-sm-2 control-label">Email:</label>
    			    <div class="col-sm-10">
    			    	<input type="email" class="form-control" id="email" placeholder="Email">
    			    </div>
    		    </div>
    		    <div class="form-group col-sm-12 row">
    			    <label for="password" class="col-sm-2 control-label">Password:</label>
    			<div class="col-sm-10">
    				<input type="password" class="form-control" id="password" placeholder="Password"/>
    			</div>
    			</div>

    		<div class="col-sm-12 text-center">
    		    <h3><u>Shelter information:</u></h3>
    		</div>
    		
    		<div class="form-group col-sm-12 row">
    			<label for="sheltername" class="col-sm-2 control-label"> Name:</label>
    			<div class="col-sm-10">
    				<input type="text" class="form-control" id="shelter_name" 
    					   placeholder="Shelter Name"/>
    			</div>
    		</div>
    		<div class="form-group col-sm-12 row">
    			<label for="description" class="col-sm-2 control-label">Description:</label>
    			<div class="col-sm-10">
    				<input type="text" class="form-control" id="description" 
    					   placeholder="Description of Shelter"/>
    			</div>
    		</div>
    			<div class="form-group col-sm-12 row">
    			<label for="address" class="col-sm-2 control-label"> Address:</label>
    			<div class="col-sm-10">
    				<input type="text" class="form-control" id="address" 
    					   placeholder="Address"/>
    			</div>
    		</div>
    			<div class="form-group col-sm-12 row">
					<label class="control-label col-sm-2">City/State:</label>
						<div class="input-group col-sm-10">
						     <input type="text" class="form-control" style="margin-left:16px;" id="city2" placeholder="City"/>
						      <div class="input-group-btn">
						       <button type="button" class="btn btn-default dropdown-toggle" style="margin-right:16px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">State <span class="caret"></span></button>
						       <ul class="dropdown-menu dropdown-menu-right" style="height:150px; width:18%; overflow:hidden; overflow-y:scroll;">
						         <li><a href="#"> AL (Alabama) </a></li>
						         <li><a href="#"> AK (Alaska) </a></li>
						         <li><a href="#"> AZ (Arizona) </a></li>
						         <li><a href="#"> AR (Arkansas) </a></li>
						         <li><a href="#"> CA (California) </a></li>
						         <li><a href="#"> CO (Colorado) </a></li>
						         <li><a href="#"> CT (Conneticut) </a></li>
						         <li><a href="#"> DE (Delaware) </a></li>
						         <li><a href="#"> FL (Florida) </a></li>
						         <li><a href="#"> GA (Georgia) </a></li>
						         <li><a href="#"> HI (Hawaii) </a></li>
						         <li><a href="#"> ID (Idaho) </a></li>
						         <li><a href="#"> IL (Illinois) </a></li>
						         <li><a href="#"> IN (Indiana) </a></li>
						         <li><a href="#"> IA (Iowa) </a></li>
						         <li><a href="#"> KS (Kansas) </a></li>
						         <li><a href="#"> KY (Kentucky) </a></li>
						         <li><a href="#"> LA (Louisiana) </a></li>
						         <li><a href="#"> ME (Maine) </a></li>
						         <li><a href="#"> MD (Maryland) </a></li>
						         <li><a href="#"> MA (Massachusetts) </a></li>
						         <li><a href="#"> MI (Michigan) </a></li>
						         <li><a href="#"> MN (Minnesota) </a></li>
						         <li><a href="#"> MS (Mississippi) </a></li>
						         <li><a href="#"> MO (Missouri) </a></li>
						         <li><a href="#"> MT (Montana) </a></li>
						         <li><a href="#"> NE (Nebraska) </a></li>
						         <li><a href="#"> NV (Nevada) </a></li>
						         <li><a href="#"> NH (New Hampshire) </a></li>
						         <li><a href="#"> NJ (New Jersey) </a></li>
						         <li><a href="#"> NM (New Mexico) </a></li>
						         <li><a href="#"> NY (New York) </a></li>
						         <li><a href="#"> NC (North Carolina) </a></li>
						         <li><a href="#"> ND (North Dakota) </a></li>
						         <li><a href="#"> OH (Ohio) </a></li>
						         <li><a href="#"> OK (Oklahoma) </a></li>
						         <li><a href="#"> OR (Oregon) </a></li>
						         <li><a href="#"> PA (Pennsylvania) </a></li>
						         <li><a href="#"> RI (Rhode Island) </a></li>
						         <li><a href="#"> SC (South Carolina) </a></li>
						         <li><a href="#"> SD (South Dakota) </a></li>
						         <li><a href="#"> TN (Tennessee) </a></li>
						         <li><a href="#"> TX (Texas) </a></li>
						         <li><a href="#"> UT (Utah) </a></li>
						         <li><a href="#"> VT (Vermont) </a></li>
						         <li><a href="#"> VA (Virginia) </a></li>
						         <li><a href="#"> WA (Washington) </a></li>
						         <li><a href="#"> WV (West Virginia) </a></li>
						         <li><a href="#"> WI (Wisconsin) </a></li>
						         <li><a href="#"> WY (Wyoming) </a></li>
						         <li><a href="#"> Don't Know</a></li>
						         <li><a href="#"> Refused</a></li>
						       </ul>
						     </div><!-- /btn-group -->
					      </div><!-- /input-group -->
				</div>
				
    			<div class="form-group col-sm-12 row">
    				<label for="busemail" class="col-sm-2 control-label"> Email:</label>
    				<div class="col-sm-10">
    					<input type="text" class="form-control" id="busemail" 
    						  placeholder="Shelter Email"/>
    				</div>
    			</div>
    			<div class="form-group col-sm-12 row">
    			    	<label for="busphone" class="col-sm-2 control-label"> Phone:</label>
    			    	<div class="col-sm-10">
    					<input type="text" class="form-control" id="busphone" 
    						placeholder="Shelter Phone Number"/>
    			    	</div>
    			</div>
    			<div class="col-sm-12 text-centered">
    		    	<h5 class="text-center"><u>Check All That Apply</u></h5>
    			</div>
    			<div class="form-group text-center">
    				<div class="col-sm-offset-1 col-sm-2 ">
    			    	<label>Emergency Housing:</label>
    					<input type="checkbox" name="emergency_housing"/>
    				</div>
    				<div class="col-sm-2 ">
    			    	<label>Permenant Housing Service:</label>
    					<input type="checkbox" name="permanent_housing_service"/>
    				</div>
    				<div class="col-sm-2 ">
    			    	<label>Physical Health Service:</label>
    					<input type="checkbox" name="physical_health"/>
    				</div>
    				<div class="col-sm-2 ">
    			    	<label>Mental Health Service:</label>
    					<input type="checkbox" name="mental_health"/>
    				</div>
    				<div class="col-sm-2 ">
    			    	<label>Veteran Aid:</label>
    					<input type="checkbox" name="vet_aid"/>
    				</div>
    			</div>
    			<div class="form-group text-center">
    				<div class="col-sm-12">
    					<button type="submit" class="btn btn-default">Register</button>
    				</div>
    			</div>
    		</div>
    	</form>
    </div>
    </div>
        <div class="container"></div>
        <div class="register">
            <form action="{% url 'register' %}" method='post' class="register_form">
                {% csrf_token %}
                <label for="email">Email</label>
                <input type="text" name="email"/>
                
                <label for="password">Password</label>
                <input type="text" name="password">
                <br>
                <label for="shelter_name">Shelter Name</label>
                <input type="text" name="shelter_name"/>
                
                <label for="desc">Description</label>
                <input type="text" name="desc"/>
                <br>
                <label for="supp_email">Support Email</label>
                <input type="text" name="supp_email">
                
                <label for="supp_tele">Support Telephone Number</label>
                <input type=text name="supp_tele">
                <br>
                <label for="address">Address</label>
                <input type="text" name="address" >
                
                <label for="city">City</label>
                <input type="text" name="city">
                
                <label for="state">State</label>
                <input type="text" name="state">
                <br>
                
                <label for="room">Emergency Housing</label>
                <input id="room_input" type="checkbox" name="room">
                
                <div id="room_rooms" class="hidden">
                    <label for="rooms_filled">Occupied Rooms</label>
                    <input type="number" name="rooms_filled" value="0" min="0">
             <br>
                    <label for="max_rooms">Max Roooms</label>
                    <input type="number" name="max_rooms" value="0" min="0">
                </div>
            <br>
                
                <label for="housing">Permenant Housing Service</label>
                <input type="checkbox" name="housing">
            <br>
                <label for="physical_health">Physical Health Service</label>
                <input type="checkbox" name="physical_health">
            <br>
                <label for="mental_health">Mental Health Service</label>
                <input type="checkbox" name="mental_health">
            <br>
            
                <label for="veteran">Veteran Aid</label>
                <input type="checkbox" name="veteran">        
                <br>
                <input type="submit" name="submit" value="Register"/>
             </form>
        </div>
    {% include 'footer.html' %}
    </body>
</html>
{% endblock %}