{% extends 'app_base.html' %}

{% block content %}

<div>
    <div style="font-weight: bold;">
        <h5>{{ shelter.shelter_name }}</h5>
        <span style="font-weight: normal;">
            <p> {{ shelter.shelter_support_email }} </p>
            <p> {{ shelter.shelter_support_tele }} </p>
            <p> {{ shelter.shelter_address}}<br> {{ shelter.shelter_city }}, {{ shelter.shelter_state }} </p>
            <p> {{ shelter.shelter_desc }}</p>
            {% if not shelter.shelter_restrictions == ''%}
                <p>Restrictions {{ shelter.shelter_restrictions }} </p>
            {% endif %}    
        </span>
        <div class="map">
            <!--google maps shit here-->
        </div>
    </div>
</div>
{% endblock %}